.pink-theme {
  ion-content {
    background-color: #fff;
  }

  .toolbar-background-md {
    background-color: rgb(255, 139, 187);
    color: #fff;
  }

  .toolbar-title-md {
    color: #fff;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
  }
}
