// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fab-md-alt {
  color: #ffffff;
}

ion-fab[right], ion-fab[center] {
  button[ion-fab] {
    div.label {
      right: 68px;
    }
  }
  ion-fab-list button[ion-fab] {
    div.label {
      right: 48px;
    }
  }
}

ion-fab[left] {
  button[ion-fab] {
    div.label {
      left: 68px;
    }
  }
  ion-fab-list button[ion-fab] {
    div.label {
      left: 48px;
    }
  }
}

ion-fab {
    button {
        box-shadow: 0 4px 10px #6b6b6b;
    }

    button[ion-fab] {
      text-align: center;
      overflow: visible;

      div.label {
        position: absolute;
        background: rgba(248, 248, 248, 1);
        color: black;
        height: 24px;
        line-height: 16px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        /*margin-top: 8px;*/
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      }
    }

    .fab {
      contain: initial;
    }

    ion-fab-list button[ion-fab] {
        text-align: center;
        overflow: visible;

        div.label {
          position: absolute;
          background: rgba(248, 248, 248, 1);
          color: black;
          height: 24px;
          line-height: 16px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 5px;
          padding-bottom: 5px;
          /*margin-top: 8px;*/
          border-radius: 5px;
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }

    .button-inner {
        overflow: visible;
    }
}

.transparent-header .toolbar-background, .transparent-header ion-header, .transparent-header ion-navbar {
    background: 0 0!important;
    background-color: transparent!important;
}
.transparent-header .header-md::after, .transparent-header .tabs-md[tabsPlacement="top"] > .tabbar::after, .transparent-header .footer-md::before, .transparent-header .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	background-image: none;
}
.transparent-header .bar-button-default-md, .transparent-header .bar-button-clear-md-default, .transparent-header .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}
.transparent-header .bar-button-default-md:hover, .transparent-header .bar-button-clear-md-default:hover, .transparent-header .bar-button-md-default:hover {
	color: #ffffff;
    background-color: transparent;
}

.leaflet-container .leaflet-marker-pane img, .leaflet-container .leaflet-shadow-pane img {
  transition: all 1s;
}

/* Compatible with Leaflet 0.7 */
.leaflet-control-locate {
  a {
    font-size: 1.4em;
    color: #444;
    cursor: pointer;
	padding:0!important;
  }
  &.active {
    a {
      color: #2074B6;
    }
    &.following a {
      color: #FC8428;
    }
  }
}
.gradient {
    background: #81aaf9;
    background: -webkit-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: -o-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: -moz-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: linear-gradient(-54deg, rgba(255, 139, 187, 0.58) 20%, #81a9f9 90%);
    position: relative;
    overflow: hidden;
}

/* Circle Shape
-----------------*/
@keyframes pound {
	from { transform: scale(.2); }
	50% { transform: scale(1); }
	to { transform: scale(.2); }
}
.circle-shape .dot {
  animation: 10s ease 0s normal none infinite running pound;
  transform-origin: center center 0;
}
.circle-shape .dot {
    background: #000;
    border-radius: 50%;
    position: absolute;
	opacity: 0.04;
}
.circle-shape .c11 {
	opacity: 0.02;
}
.circle-shape .c12,
.circle-shape .c13,
.circle-shape .c14,
.circle-shape .c15 {
	opacity: 0.05;
}

.c34{
	width: 34px;
	height: 34px;
}
.c44{
	width: 44px;
	height: 44px;
}
.c53{
	width: 53px;
	height: 53px;
}
.c84{
	width: 84px;
	height: 84px;
}
.c100{
	width: 100px;
	height: 100px;
}
.c140{
	width: 140px;
	height: 140px;
}
.c172{
	width: 172px;
	height: 172px;
}
.c206{
	width: 206px;
	height: 206px;
}
.c355{
	width: 355px;
	height: 355px;
}
.c393{
	width: 393px;
	height: 393px;
}

.c1{
	top: 4.8%;
	left: 6.6%;
	animation-delay: 3s;
}
.c2{
	top: 11.5%;
	left: 8.7%;
	animation-delay: 3.5s;
}
.c3{
	bottom: 0;
	left: -202px;
	animation-delay: 3.4s;
}
.c4{
	top: 39.9%;
	left: 4.7%;
	animation-delay: 4s;
}
.c5{
	bottom: 32.4%;
	left: 8%;
	animation-delay: 4.2s;
}
.c6{
	bottom: 49.02%;
	left: 13.1%;
	animation-delay: 4.5s;
}
.c7{
	top: 25.7%;
	left: 10.9%;
}
.c8{
	top: 25.8%;
	left: 20.2%;
}
.c9{
	top: 23.3%;
	left: 22.3%;
}
.c10{
	bottom: 22.2%;
	left: 30.7%;
}
.c11{
	top: 18.8%;
	left: 34.1%;
}
.c12{
	top: 24.1%;
	right: 43.7%;
}
.c13{
	bottom: 26.6%;
	right: 37.7%;
}
.c14{
	top: 1.8%;
	right: 7.3%;
}
.c15{
	top: 5.3%;
	right: 3.6%;
}
.c16{
	top: 30.4%;
	right: -280px;
}

/* circle-shape-2 */
.circle-shape-2 .c1 {
  left: 15.6%;
  top: 8.8%;
}
.circle-shape-2 .c4 {
  left: 4.2%;
  top: 27.1%;
}
.circle-shape-2 .c5 {
  bottom: 20%;
  left: 7.4%;
}
.circle-shape-2 .c6 {
  bottom: 52.4%;
  left: 12.7%;
}
.circle-shape-2 .c9 {
  left: inherit;
  top: inherit;
  right: 24.7%;
  bottom: 14.5%;
}
.circle-shape-2 .c8 {
  left: inherit;
  top: inherit;
  right: 21.6%;
  bottom: 17.8%;
}
.circle-shape-2 .c15 {
  right: 14%;
  top: 20.3%;
}
.circle-shape-2 .c16 {
  bottom: 4.3%;
  right: -100px;
  top: inherit;
}
/* Pages Header Circle Shape */
.pages-header .c16 {
  top: 0;
}
.pages-header .c13 {
  bottom: 37.9%;
}
.pages-header .c10 {
  bottom: 31.9%;
}
.pages-header .c1 {
  left: 10.8%;
  top: -55px;
}
.pages-header .c2 {
  left: 20.2%;
  top: -30px;
}


.label-default {
  background-color: #999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
span.label {
    margin: -8px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 10px; */
    line-height: 15px;
    position: relative;
    display: inline-block;
    top: -2px;
}

/* Leaflet Marker Cluster */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}
